
<%= form_tag "/users", method: :post do %>
  <div>

        <div class="lb-body">
            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="text" class="input-sm form-control fg-input" name="full_name">
                    <label class="fg-label">Full Name</label>
                </div>           
            </div>



            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="text" class="input-sm form-control fg-input" name="email">
                    <label class="fg-label">Email Address</label>
                </div>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="password" class="input-sm form-control fg-input" name="password">
                    <label class="fg-label" >Password</label>
                </div>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="password" class="input-sm form-control fg-input" name="password_confirmation">
                    <label class="fg-label">Confirm Password</label>
                </div> 

                 <div class="form-group fg-float">
                <div class="fg-line">
                    <input type="text" class="input-sm form-control fg-input" name="username">
                    <label class="fg-label">Create User Name</label>
                </div> 

                <br/>

            <button class="btn palette-Teal bg button-margin">Create Account</button>

            <div class="m-t-30">
                <a data-block="#l-login" data-bg="teal" class="palette-Blue text d-block m-b-5" href="login">Already have an account?</a>
                
            </div>
            
            </div>
        </div>
    </div>
 <% end %>