// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.palette-Teal.bg {
  background: #311b92;
}

.fg-line, .button-margin {
  margin-top: 20px;
}

.input-group-addon {
  background: white;
}

.head {
  background: #311b92;
}

.h-logo a {
  font-size: 30px;
}

.chart-width1 {
  width: 300px;
}
.chart-width2 {
  width: 250px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width3 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width4 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width3 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}

.flex-row, .flex-row-2 {
  display: flex;
}

.flex-row-2 {
  margin-left: 125px;
}

.ct-series-b {
  color: white;
}

.potato {
 background-color: #EDE7F6;
 padding-top: 30px;
 margin-top: -30px;
 padding-right: 50px;
 padding-left: 50px;
 padding-bottom: 30px;
 width: 1000px;
}

.edamame {
 background-color: white;
 width: 915px;
}

.tomato {
  background: #EDE7F6;
}

.data-name {
  color: purple;
  margin-left: 130px;
  margin-top: -120px;
}

.ct-label {
  display: none;
}

.card-bg-color {
  background: #EDE7F6;
}

.card-margin {
  margin-left: 40px;
  margin-right: -50px;
}

.low-low {
 margin-top: 36px;
 margin-bottom: -36px;
 }

 .top {
  margin-top: -25px

 }

 .burger{
  margin-top: 20px;

 }

 .fixAccount {
  float: left;
 }


