// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.palette-Teal.bg {
  background: #311b92;
}

.fg-line, .button-margin {
  margin-top: 20px;
}

.input-group-addon {
  background: white;
}

.head {
  background: #311b92;
}

.h-logo a {
  font-size: 30px;
}

.chart-width1 {
  width: 250px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width2 {
  width: 250px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width3 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width4 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}
.chart-width3 {
  width: 200px;
  // margin-left: 300px;
  // margin-right: 300px;
}